body {
    font-family: 'Courier New', Courier, monospace;
    margin: 50px;
}

.banner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #161616;
    padding: 90px;
    border-radius: 30px;
    color:#FFFFFF;

}

.banner-text h1 {
    font-weight: 700;
    font-size: 70px;
}

